<h1>{{title}}</h1>

<md-card class="example-card">
  <md-card-header>
    <md-card-title>John Doe</md-card-title>
    <md-card-subtitle>Front-End Developer</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ipsum aliquid aspernatur dicta minima exercitationem
      suscipit velit a, assumenda, culpa veritatis! Optio ut sapiente iste nihil recusandae veritatis. Veniam, corporis.
    </p>
  </md-card-content>
</md-card>

<md-card class="example-card">
    <md-card-header>
      <md-card-title>John Wick</md-card-title>
      <md-card-subtitle>Back-End Developer</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ipsum aliquid aspernatur dicta minima exercitationem
        suscipit velit a, assumenda, culpa veritatis! Optio ut sapiente iste nihil recusandae veritatis. Veniam, corporis.
      </p>
    </md-card-content>
  </md-card>
